.page {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    padding: 0 5%;

    &.mobile {
        padding: 0;

        ::ng-deep .content {
            margin-top: 20px;
            margin-right: 40px;
        }
    }

    .page-content {
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;

        app-stepper {
            width: 100%;
            margin-top: 30px;
        }

        &.mobile {
            flex-direction: row;

            app-stepper {
                width: auto;
            }
        }
    }
}