.footer {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px;

    .horizontal-footer {
        app-button + app-button {
            margin-left: 10px;
        }

        display: flex;
        &.right {
            justify-content: flex-end;
        }

        .active {
            ::ng-deep .button {
                background-color: white;
                border-color: #0C985A;
                color: #0C985A;
            }
        }
    }
}