* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
app-root {
    width: 100vw;
    height: 100vh;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.content {
    height: auto;
    margin-top: 40px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media screen and (max-width: 599px) {
    .content {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.b {
    border: 1px solid lightgray;
}

.rb {
    border: 1px solid lightgray;
    border-radius: 8px;
}

.border-title {
    user-select: none;
    position: relative;
    top: -18px;
    left: 20px;
    background-color: white;
    color: gray;
    font-size: 20px;
    height: 20px;
    width: fit-content;
    padding: 0px 3px;
    text-align: center;
}

.title {
    user-select: none;
    background-color: white;
    color: gray;
    font-size: 32px;
    height: auto;
    padding: 0px 3px;
    text-align: center;
}

@import './scss/button.scss';
@import './scss/tooltip.scss';